<ui:composition xmlns="http://www.w3.org/1999/xhtml"
xmlns:b="http://bootsfaces.net/ui"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:ui="http://java.sun.com/jsf/facelets">

    <b:navBar brand="Bank" brandHref="#{request.contextPath}" inverse="true" fixed="top">
        <b:navbarLinks>
            <b:navLink value="Kunde werden" href="#{request.contextPath}/register.xhtml"></b:navLink>
            <b:navLink value="Mitarbeiter-Login" href="#{request.contextPath}/employee/login.xhtml"></b:navLink>
        </b:navbarLinks>
        <h:form styleClass="navbar-form navbar-right">
            <div class="form-group">
                <b:inputText placeholder="Email" value="#{customerModel.email}" fieldSize="sm"/>
            </div>
            <div class="form-group">
                <b:inputSecret placeholder="Passwort" value="#{customerModel.password}" fieldSize="sm"/>
            </div>
            <b:commandButton action="#{customerModel.login()}" value="Einloggen" look="success" icon="chevron-right" iconAlign="right"/>
        </h:form>
    </b:navBar>

</ui:composition>

