<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/dashboard.xhtml">
    <ui:define name="content">
        <b:form inline="true">
                <b:row>
                    <div class="col-md-6 col-xs-12 col-sm-8 col-lg-5">
                        <div class="form-group">
                            <h:outputLabel style="width: 150px">Konto</h:outputLabel>
                            <h:selectOneMenu value="#{transferModel.selectedAccount}">
                                <f:converter binding="#{transferModel.accountConverter}" />
                                <f:selectItems value="#{transferModel.customerAccounts}" />
                            </h:selectOneMenu>
                            <b:commandButton value="auswählen" action="#{transferModel.selectAccount()}" style="margin-left: 15px" />
                        </div>
                    </div>
                </b:row>
        </b:form>
        <b:row>
            <div class="col-md-6 col-xs-12 col-sm-8 col-lg-5">
                <h:outputLabel>Aktuelles Konto: #{(transferModel.selectedAccount != null) ? transferModel.selectedAccount : "Kein"}</h:outputLabel>
            </div>
        </b:row>
        <b:dataTable value="#{transferModel.transfers}" var="transfer" lang="de">
            <b:dataTableColumn value="#{transfer.sender.id}" label="Sender" />
            <b:dataTableColumn value="#{transfer.reciever.id}" label="Empfänger" />
            <b:dataTableColumn value="#{transfer.amount}" label="Wert in Cent" />
            <b:dataTableColumn value="#{transfer.time}" label="Datum"  order="desc"/>
        </b:dataTable>
    </ui:define>
</ui:composition>