<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/dashboard.xhtml">
    <ui:define name="content">
        <b:panel title="Überweisung" collapsible="false" look="primary">
            <b:form inline="true">
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Sender-Kontonr." render-label="true" label-style="width:150px"
                         value="#{transferModel.senderId}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Empfänger-Kontonr." render-label="true" label-style="width:150px"
                         value="#{transferModel.recieverId}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Euro" render-label="true" label-style="width:150px"
                         value="#{transferModel.highAmount}" span="2" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Cent" render-label="true" label-style="width:150px"
                         value="#{transferModel.lowAmount}" span="2" />
                </b:row>
                <b:row>
                    <b:commandButton value="Überweisen" action="#{transferModel.transfer()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>