<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <b:listLinks>
        <b:navLink header="Dasboard" />
        <b:navLink href="#{request.contextPath}/dashboard/overview.xhtml" value="Übersicht" active="#{view.viewId eq '/dashboard/overview.xhtml' ? 'true' : ''}"/>
    </b:listLinks>
    <b:listLinks>
        <b:navLink header="Überweisungen" />
        <b:navLink href="#{request.contextPath}/dashboard/transfer/overview.xhtml" value="Meine Überweisungen" active="#{view.viewId eq '/dashboard/transfer/overview.xhtml' ? 'true' : ''}" />
        <b:navLink href="#{request.contextPath}/dashboard/transfer/transfer.xhtml" value="Überweisen" active="#{view.viewId eq '/dashboard/transfer/transfer.xhtml' ? 'true' : ''}" />
    </b:listLinks>
    <b:listLinks>
        <b:navLink header="Konten" />
        <b:navLink href="#{request.contextPath}/dashboard/account/overview.xhtml" value="Konten" active="#{view.viewId eq '/dashboard/account/overview.xhtml' ? 'true' : ''}" />
        <b:navLink href="#{request.contextPath}/dashboard/account/deposit.xhtml" value="Einzahlen" active="#{view.viewId eq '/dashboard/account/deposit.xhtml' ? 'true' : ''}" />
        <b:navLink href="#{request.contextPath}/dashboard/account/withdraw.xhtml" value="Auszahlen " active="#{view.viewId eq '/dashboard/account/withdraw.xhtml' ? 'true' : ''}" />
    </b:listLinks>
</ui:composition>