<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    <b:navBar brand="Bank" brandHref="#{request.contextPath}" inverse="true" fixed="top" fluid="true">   
        <h:form>
            <b:navbarLinks pull="right">
                <b:navLink value="Meine Daten" href="#{request.contextPath}/dashboard/settings.xhtml" />
                <b:navCommandLink value="Logout" action="#{customerModel.logout()}" />
            </b:navbarLinks>
        </h:form>
    </b:navBar>
</ui:composition>