<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/plain.xhtml">
    <ui:define name="content">
        <style type="text/css">
            .form-signin {
                margin: 0 auto;
                max-width: 330px;
                padding: 15px;
            }
        </style>
        <h:form styleClass="form-signin" prependId="false">
            <h2 class="form-signin-heading">Mitarbeiter-Login</h2>
            <b:inputText id="email" placeholder="E-Mail" value="#{employeeModel.email}" >
                <f:facet name="prepend">
                    <b:icon name="user" />
                </f:facet>
            </b:inputText>
            <b:inputText id="password" placeholder="Passwort" type="password" value="#{employeeModel.password}">
                <f:facet name="prepend">
                    <b:iconAwesome name="key" />
                </f:facet>
            </b:inputText>
            <b:commandButton action="#{employeeModel.login()}" look="primary btn-block" value="Einloggen" icon="log-in" size="lg"/>
        </h:form>
    </ui:define>
</ui:composition>