<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <h1>Hallo #{employeeModel.userInSession.name} #{employeeModel.userInSession.lastName}</h1>
    </ui:define>
</ui:composition>