<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <b:panel title="Mitarbeiter anlegen" collapsible="false" look="primary" styleClass="mt-20">
            <b:form inline="true">
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="E-Mail" render-label="true" label-style="width:150px"
                         value="#{employeeModel.email}">
                        <f:facet name="prepend">
                            <h:outputText value="@" />
                        </f:facet>
                    </b:inputText>
                </b:row>
                <b:row>
                    <b:inputSecret tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Passwort" render-label="true" label-style="width:150px"
                         value="#{employeeModel.password}">
                        <f:facet name="prepend">
                            <b:iconAwesome name="key" />
                        </f:facet>
                    </b:inputSecret>
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Vorname" render-label="true" label-style="width:150px"
                         value="#{employeeModel.name}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Nachname" render-label="true" label-style="width:150px"
                         value="#{employeeModel.lastName}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Straße" render-label="true" label-style="width:150px"
                         value="#{employeeModel.street}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Postleitzahl" render-label="true" label-style="width:150px"
                         value="#{employeeModel.postcode}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Ort" render-label="true" label-style="width:150px"
                         value="#{employeeModel.place}" />
                </b:row>
                <b:row>
                    <b:commandButton value="Anlegen" action="#{employeeModel.create()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>