<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <b:form styleClass="mb-20">
           <b:commandButton value="Anlegen" icon="plus" action="add" /> 
        </b:form>
        <b:dataTable value="#{employeeModel.getAllEmployees()}" var="employee" lang="de">
            <b:dataTableColumn value="#{employee.id}" label="E-Mail" order="asc" />
            <b:dataTableColumn value="#{employee.name}" label="Vorname" />
            <b:dataTableColumn value="#{employee.lastName}" label="Nachname" />
            <b:dataTableColumn label="">
                <b:form>
                    <b:buttonGroup>
                        <b:commandButton value="bearbeiten" icon="edit" size="xs" action="#{employeeModel.edit(employee.id)}" />
                        <b:commandButton value="löschen" icon="remove" size="xs" action="#{employeeModel.delete(employee.id)}" look="danger" onclick="return confirm('Wirklich löschen?')" />
                    </b:buttonGroup>
                </b:form>
           </b:dataTableColumn>
        </b:dataTable>       
    </ui:define>
</ui:composition>