<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <h:head>
        <title>BankLutz</title> 
        <h:outputStylesheet name="css/dashboard.css" />
    </h:head>
    <h:body>
        <ui:insert name="topnavigation">
            <ui:include src="/layout/dashboard/topnavigation.xhtml" />
        </ui:insert>
        <b:container fluid="true">
            <b:row>
                <b:column col-sm="3" col-md="2" styleClass="sidebar">
                    <ui:insert name="sidebar">
                        <ui:include src="/layout/dashboard/sidebar.xhtml" />
                    </ui:insert>
                </b:column>
                <b:column col-sm="9" offset-sm="3" col-md="10" offset="2" styleClass="main">
                    <ui:insert name="errors">
                        <ui:include src="/errors.xhtml" />
                    </ui:insert>
                    <ui:insert name="content">Content</ui:insert>
                </b:column>
            </b:row>
        </b:container> 
        <style type="text/css">
        .sub-header {
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
        }
        .navbar-fixed-top {
            border: 0 none;
        }
        .sidebar {
            display: none;
        }
        @media (min-width: 768px) {
        .sidebar {
            background-color: #f5f5f5;
            border-right: 1px solid #eee;
            bottom: 0;
            display: block;
            left: 0;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 20px;
            position: fixed;
            top: 51px;
            z-index: 1000;
        }
        }
        .nav-list {
            margin-bottom: 20px;
            margin-left: -20px;
            margin-right: -21px;
        }
        .nav-list > li > a {
            padding-left: 20px;
            padding-right: 20px;
        }
        .nav-list > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
            background-color: #428bca;
            color: #fff;
        }
        .main {
            padding: 20px;
        }
        @media (min-width: 768px) {
        .main {
            padding-left: 40px;
            padding-right: 40px;
        }
        }
        .main .page-header {
            margin-top: 0;
        }
        .placeholders {
            margin-bottom: 30px;
            text-align: center;
        }
        .placeholders h4 {
            margin-bottom: 0;
        }
        .placeholder {
            margin-bottom: 20px;
        }
        .placeholder img {
            border-radius: 50%;
            display: inline-block;
        }
        </style>
    </h:body>
</html>
