<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/cssLayout.css" />
        <title>BankLutz</title>
    </h:head>

    <!-- Add 50px padding top to the body for the navbar -->
    <h:body style="padding-top: 60px;">
        <b:container>
            <ui:insert name="errors">
                <ui:include src="/errors.xhtml" />
            </ui:insert>
            <ui:insert name="content">Content</ui:insert>
        </b:container>
    </h:body>

</html>
