<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"> 
    <b:listLinks>
        <b:navLink header="Mitarbeiter Dashboard" />
        <b:navLink href="#{request.contextPath}/employee/overview.xhtml" value="Übersicht" active="#{view.viewId eq '/employee/overview.xhtml' ? 'true' : ''}"/>
    </b:listLinks>
    <b:listLinks>
        <b:navLink header="Benutzerverwaltung" />
        <b:navLink href="#{request.contextPath}/employee/user_management/customer/overview.xhtml" value="Kunden" active="#{view.viewId eq '/employee/user_management/customer/overview.xhtml' ? 'true' : ''}" />
        <b:navLink href="#{request.contextPath}/employee/user_management/employee/overview.xhtml" value="Mitarbeiter" active="#{view.viewId eq '/employee/user_management/employee/overview.xhtml' ? 'true' : ''}" />
    </b:listLinks>
    <b:listLinks>
        <b:navLink header="Geldautomaten" />
        <b:navLink href="#{request.contextPath}/employee/terminal/overview.xhtml" value="Automaten" active="#{view.viewId eq '/employee/terminal/overview.xhtml' ? 'true' : ''}" />
    </b:listLinks>
    <b:listLinks>
        <b:navLink header="Geldlieferung" />
        <b:navLink href="#{request.contextPath}/employee/delivery/overview.xhtml" value="Lieferungen" active="#{view.viewId eq '/employee/delivery/overview.xhtml' ? 'true' : ''}" />
        <b:navLink href="#{request.contextPath}/employee/delivery/request.xhtml" value="Lieferung anfordern" active="#{view.viewId eq '/employee/delivery/request.xhtml' ? 'true' : ''}" />
    </b:listLinks>
</ui:composition>