<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <b:dataTable value="#{customerModel.getAllCustomers()}" var="customer" lang="de">
            <b:dataTableColumn value="#{customer.id}" label="E-Mail" order="asc" />
            <b:dataTableColumn value="#{customer.name}" label="Vorname" />
            <b:dataTableColumn value="#{customer.lastName}" label="Nachname" />
            <b:dataTableColumn value="#{customer.accounts.size()}" label="Konten" />
            <b:dataTableColumn label="">
                <b:form>
                    <b:buttonGroup>
                        <b:commandButton value="bearbeiten" icon="edit" size="xs" action="#{customerModel.edit(customer.id)}" />
                        <b:commandButton value="löschen" icon="remove" size="xs" action="#{customerModel.delete(customer.id)}" look="danger" onclick="return confirm('Wirklich löschen?')" />
                    </b:buttonGroup>
                </b:form>
           </b:dataTableColumn>
        </b:dataTable>
    </ui:define>
</ui:composition>