<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <b:panel title="Geldautomat anlegen" collapsible="false" look="primary" styleClass="mt-20">
            <b:form inline="true">
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Name" render-label="true" label-style="width:150px"
                         value="#{cashTerminalModel.name}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Guthaben" render-label="true" label-style="width:150px"
                         value="#{cashTerminalModel.storedCash}" />
                </b:row>
                <b:row>
                    <b:commandButton value="Anlegen" action="#{cashTerminalModel.create()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>