<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/dashboard.xhtml">
    <ui:define name="content">
        <b:panel title="Einzahlung" collapsible="false" look="primary">
            <b:form inline="true">
                <b:row>
                    <div class="col-md-6 col-xs-12 col-sm-8 col-lg-5">
                        <div class="form-group">
                            <h:outputLabel style="width: 150px">Geldautomat</h:outputLabel>
                            <h:selectOneMenu value="#{cashTerminalModel.terminal}">
                                <f:converter binding="#{cashTerminalModel.cashTerminalConverter}" />
                                <f:selectItems value="#{cashTerminalModel.getTerminals()}" />
                            </h:selectOneMenu>
                        </div>
                    </div>
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Kontonummer" render-label="true" label-style="width:150px"
                         value="#{cashTerminalModel.accountId}" />
                </b:row>
                <b:row>
                    <b:inputSecret tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="PIN" render-label="true" label-style="width:150px"
                         value="#{cashTerminalModel.pin}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Euro" render-label="true" label-style="width:150px"
                         value="#{cashTerminalModel.highAmount}" span="2" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Cent" render-label="true" label-style="width:150px"
                         value="#{cashTerminalModel.lowAmount}" span="2" />
                </b:row>
                <b:row>
                    <b:commandButton value="Einzahlen" action="#{cashTerminalModel.deposit()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>