<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/dashboard.xhtml">
    <ui:define name="content">
        <b:dataTable value="#{cashTerminalModel.getCustomerAccounts()}" var="account" lang="de">
            <b:dataTableColumn value="#{account.id}" label="Kontonummer" order="asc" />
            <b:dataTableColumn value="#{account.credits}" label="Guthaben" />
        </b:dataTable>
    </ui:define>
</ui:composition>