<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
    <c:if test="#{error.errors.size() > 0}">
        <b:alert severity="danger">
            <strong>Es ist ein Fehler aufgetreten</strong>
            <ul>
                <c:forEach items="#{error.errors}" var="e">
                    <li><h:outputText value="#{e}"/></li>
                </c:forEach>
            </ul>
        </b:alert>
        #{error.clear()}
    </c:if>
</ui:composition>

