<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="templates/default.xhtml">
    <ui:define name="content">
        <b:row>
            <b:column>
                <h1>Willkommen bei unserer Bank</h1>
                <b:image library="images" name="bank-building.jpg" />
            </b:column>
        </b:row>
    </ui:define>
</ui:composition>