<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="templates/default.xhtml">
    <ui:define name="content">
        <b:panel title="Registrierung" collapsible="false" look="primary" styleClass="mt-20">
            <b:form inline="true">
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="E-Mail" render-label="true" label-style="width:150px"
                         value="#{customerModel.email}">
                        <f:facet name="prepend">
                            <h:outputText value="@" />
                        </f:facet>
                    </b:inputText>
                </b:row>
                <b:row>
                    <b:inputSecret tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Passwort" render-label="true" label-style="width:150px"
                         value="#{customerModel.password}">
                        <f:facet name="prepend">
                            <b:iconAwesome name="key" />
                        </f:facet>
                    </b:inputSecret>
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Vorname" render-label="true" label-style="width:150px"
                         value="#{customerModel.name}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Nachname" render-label="true" label-style="width:150px"
                         value="#{customerModel.lastName}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Straße" render-label="true" label-style="width:150px"
                         value="#{customerModel.street}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Postleitzahl" render-label="true" label-style="width:150px"
                         value="#{customerModel.postcode}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Ort" render-label="true" label-style="width:150px"
                         value="#{customerModel.place}" />
                </b:row>
                <b:row>
                    <b:inputSecret tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="PIN" render-label="true" label-style="width:150px"
                         value="#{customerModel.pin}" />
                </b:row>
                <b:row>
                    <b:commandButton value="Registrieren" action="#{customerModel.register()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>