<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <b:dataTable value="#{deliveryModel.getAllDeliveries()}" var="delivery" lang="de">
            <b:dataTableColumn value="#{delivery.betragInCent}" label="Betrag in Cent" />
            <b:dataTableColumn value="#{delivery.von.straße}, #{delivery.von.plz} #{delivery.von.ort}" label="Von" />
            <b:dataTableColumn value="#{delivery.nach.straße}, #{delivery.nach.plz} #{delivery.nach.ort}" label="Nach" />
            <b:dataTableColumn value="#{delivery.erstelltAm}" label="Auftragsdatum" order="desc" />
        </b:dataTable>      
    </ui:define>
</ui:composition>