<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/employee.xhtml">
    <ui:define name="content">
        <b:panel title="Geldlieferung anfordern" collapsible="false" look="primary" styleClass="mt-20">
            <b:form inline="true">
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Betrag in Cent" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.cent}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Von: Straße" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.fromStreet}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Von: PLZ" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.fromPostcode}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Von: Ort" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.fromPlace}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Nach: Straße" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.toStreet}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Nach: PLZ" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.toPostcode}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Nach: Ort" render-label="true" label-style="width:150px"
                         value="#{deliveryModel.toPlace}" />
                </b:row>
                <b:row>
                    <b:commandButton value="Anfordern" action="#{deliveryModel.createDelivery()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>