<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/dashboard.xhtml">
    <ui:define name="content">
        <b:jumbotron>
            <h2>Hallo, #{customerModel.getUserInSession().getName()} #{customerModel.getUserInSession().getLastName()}</h2>
            <p>Konten: #{customerModel.getUserInSession().getAccounts().size()}</p>
        </b:jumbotron>
    </ui:define>
</ui:composition>