<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:b="http://bootsfaces.net/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    template="/templates/dashboard.xhtml">
    <ui:define name="content">
        <b:panel title="Meine Daten" collapsible="false" look="primary" styleClass="mt-20">
            <b:form inline="true">
                <b:row>
                    <h:outputText value="#{customerModel.userInSession.id}" style="margin-left: 15px" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Vorname" render-label="true" label-style="width:150px"
                         value="#{customerModel.userInSession.name}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Nachname" render-label="true" label-style="width:150px"
                         value="#{customerModel.userInSession.lastName}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Straße" render-label="true" label-style="width:150px"
                         value="#{customerModel.userInSession.address.street}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Postleitzahl" render-label="true" label-style="width:150px"
                         value="#{customerModel.userInSession.address.postcode}" />
                </b:row>
                <b:row>
                    <b:inputText tiny-screen="12" small-screen="8" medium-screen="6" large-screen="5" label="Ort" render-label="true" label-style="width:150px"
                         value="#{customerModel.userInSession.address.place}" />
                </b:row>
                <b:row>
                    <b:commandButton value="Ändern" action="#{customerModel.updateCurrentUser()}" style="margin-left: 15px" />
                </b:row>
            </b:form>
        </b:panel>
    </ui:define>
</ui:composition>